<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614960272316-62206pn7154k5jn47ki9d0inoh5ogf83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614960272316-62206pn7154k5jn47ki9d0inoh5ogf83</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>614960272316-03dqr61tqrjn106hnuip3ndsf9ma8qqt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6w4GToY_lvGv3RMs27I172l8B5iclwmU</string>
	<key>GCM_SENDER_ID</key>
	<string>614960272316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zoftsolutions.schoolWizardBeta.qa</string>
	<key>PROJECT_ID</key>
	<string>schoowizardqa</string>
	<key>STORAGE_BUCKET</key>
	<string>schoowizardqa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614960272316:ios:68ddebfb869481924411b9</string>
	<key>DATABASE_URL</key>
	<string>https://schoowizardqa.firebaseio.com</string>
</dict>
</plist>